<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let one of categoryWise">
                        <td>{{one.category}}</td>
                        <td>{{one.amount | currency: 'INR'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>